/* include font */
@font-face {
    font-family: 'Inter', sans-serif;
    src: url(../fonts/Inter-Bold.ttf);
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* test code  */
.header-top-area{
    background: url("../images/Vector.png") no-repeat center center;
    margin: 0 190px ;
    padding:0 20px;

}